body {
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Light text color */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #2a2a2a; /* Darker container background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
    padding: 10px;
    background-color: #333333; /* Dark header background color */
    margin-bottom: 100px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #ffffff; /* Light text color for navigation items */
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555555; /* Darker background color on hover */
}






.poll-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.poll-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.choice-label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}


#start-poll-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-poll-button:hover {
    background-color: #45a049;
}

















